@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 0%;
    --primary: 0, 0%, 100%;
    --btn-text: 226, 24%, 17%;
    --secondary: 60, 100%, 51%;
    --muted: 209, 21%, 70%;
    --muted-text: 213, 10%, 53%;
    --subtle: 0, 0%, 50%;
    --border: 60, 98%, 44%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary;
  }
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
