@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 0%;
    --primary: 0, 0%, 100%;
    --btn-text: 226, 24%, 17%;
    --secondary: 60, 100%, 51%;
    --muted: 209, 21%, 70%;
    --muted-text: 213, 10%, 53%;
    --muted-bg: 0, 0%, 12%;
    --subtle: 0, 0%, 50%;
    --border: 60, 98%, 44%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary;
  }
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: hsl(var(--primary));
}

.gradient-box {
  background: hsl(var(--background));
  background-clip: padding-box;
  border: solid 0.8px transparent;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -0.8px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #ffffff00, #ffffff80);
  }
}

.gradient-box-2 {
  background: linear-gradient(
    to bottom,
    #252525 0%,
    hsl(var(--background)) 50%
  );

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -0.8px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #ffffff00, #ffffff80);
  }
}

.yellow-gradient-box {
  background: linear-gradient(
    180deg,
    rgba(255, 254, 0, 0.3) 0%,
    rgba(152, 150, 20, 0.3) 100%
  );
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.animate-fade-out {
  animation: fade-out 0.5s ease-in-out;
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-in-out;
}
